
        
    <div style="text-align:center ">
    <p id="aaa">Logo
    <span id ="aa"><br><br>Please Fill in the details</span></p>
    <br><br><br>
    <form>
    <input id="a" type="email" placeholder="Email" required><br><br>
    <input id="a" type="password" placeholder="Password" required><br><br><br>
    <input id="ab" type="submit" value="LOGIN"><br>
    <p id="abc">Forgot Password?</p>
</form>
</div>


