/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(aaa.jpeg);
    background-size: cover; 
    height: 100%;
    
}
#aaa{
    padding-top:100px;
    font-size: 50px;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
}
#aa{
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
#a{
    background: transparent;
    color:white;
    
    padding: 15px 120px 15px 40px;
    border: 2px solid white;
    border-radius: 25px;
}
#ab{
    background:white;
    color:#d55856;
    padding: 5px 115px 5px 115px;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 30px;
    
  
}
input::placeholder{
    color:white;
}
#abc{
    color:white;
}

input[type="name"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {

outline: none;
}